body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: center;
  min-height: 70px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover {
  color: grey;
}



.section{
  background-color: rgb(40, 38, 38);
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 50%;
  margin: 15px auto;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(0, 0, 0,.5);}

.section img{
  width: 60%;
  border-radius: 30px;
  border: dashed 3px white;
}

.section h1 {
  margin: 0;
  color: white;
}

.section p {
  color: antiquewhite;
  margin: 15px; /* Ajusta los márgenes superior, inferior y derecho */
}

